//- home.pug
extends layout

block head
  link(rel='stylesheet', href='/styles/home.css')

block content
  .new-post
    form(action='/post', method='post')
      textarea(name='post' placeholder='What’s happening?')
      button(type='submit') Post
  .posts
    .post
      .post-header
        strong Username
        span @username · 5m
      p This is a sample post.
    .post
      .post-header
        strong AnotherUser
        span @anotheruser · 10m
      p Another example post.
