extends layout

block head
  link(rel='stylesheet', href='/styles/home.css')

block content
  .posts
    each post in posts
      .post
        .post-header
          h3.username @#{post.UserId}
          span.created-at #{post.CreatedAt} 
        .post-content
          p= post.Content
        if post.Media
          .post-media
            img(src=`https://capstonemedia.s3.amazonaws.com/${post.Media}`, alt="Post Image")
