html
  head
    title Intro Page
    link(rel='stylesheet', href='/styles/index.css')
    script(src='/scripts/index.js')
  body
    .container
      .left
        img(src='', alt='Logo')

      .right
        div.content
          h1 Welcome
          h2 Join today.
          form()
            .input-container
              button.google-login(type='button') Google SignIn
              p.or Or
              button.create-account(type='button') Create account
          p Already have an account? 
          a.login-link(href='#') Sign in

    #overlay.hidden
      .modal
        button.close-button X
        h1 Create your account
        form#userForm
          label(for='name') Username
          input#username(type='text', maxlength='50', placeholder='Enter your Username', required)
          label(for='email') Email
          input#email(type='email', placeholder='Enter your email', required)
          h3 Date of birth
          p This will not be shown publicly. Confirm your own age, even if this account is for a business, a pet, or something else.
          div.date-of-birth
            select#month(name='month', required)
              option(value='') Month
              option January
              option February
              option March
              option April
              option May
              option June
              option July
              option August
              option September
              option October
              option November
              option December
            select#day(name='day', required)
              option(value='') Day
              - for (let i = 1; i <= 31; i++)
                option #{i}
            select#year(name='year', required)
              option(value='') Year
          button.submitUsername(type='submit') Next

    #passwordOverlay.hidden
      .modal
        button.close-button X
        h1 Set your password
        form#passwordForm
          label(for='password') Password
          input#password(type='password', placeholder='Enter your password', required)
          label(for='confirmPassword') Confirm Password
          input#confirmPassword(type='password', placeholder='Confirm your password', required)
          button.submit(type='submit') Complete Signup

    #loginOverlay.hidden
      .modal
        button.close-button X
        h1 Login
        form#loginForm(method="POST", action="/")
          label(for='usernameLogin') Username
          input#usernameLogin(type='text', name='usernameLogin', placeholder='Enter your username', required)
          label(for='passwordLogin') Password
          input#passwordLogin(type='password', name='passwordLogin', placeholder='Enter your password', required)
          button.submitLogin(type='submit') Login


