doctype html
html
  head
    title X/Twitter Clone
    link(rel='stylesheet', href='/styles/index.css')
  body
    header
      .header-container
        h1 X/Twitter

    .main-container
      .sidebar
        ul
          li
            a(href='#') Home
          li
            a(href='#') Explore
          li
            a(href='#') Notifications
          li
            a(href='#') Messages
          li
            a(href='#') Profile
      .content
        .new-tweet
          form(action='/tweet', method='post')
            textarea(name='tweet' placeholder='What’s happening?')
            button(type='submit') Tweet
        .tweets
          .tweet
            .tweet-header
              strong Username
              span @username · 5m
            p This is a sample tweet. #example
          .tweet
            .tweet-header
              strong AnotherUser
              span @anotheruser · 10m
            p Another example tweet with more content here.

    footer
      .footer-container
        p © 2024 X/Twitter Clone
